<div class="main">
    <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>
  <div class="top"></div>
  <div class="person">
    <div class="left-person" (click)="toggleImage(2)">
      <img src="../../assets/background/man-1.png" alt="">
    </div>
    <div class="right-person" (click)="toggleImage(1)">
      <img src="../../assets/background/women-1.png" alt="">
    </div>
  </div>
  <div class="btn">
    <div class="l-btn" (click)="toggleImage(2)">
      <img src="../../assets/background/btn1.png" alt="">
    </div>
    <div class="r-btn" (click)="toggleImage(1)">
      <img src="../../assets/background/btn2.png" alt="">
    </div>
  </div>
  <div class="bottom">
    <img src="../../assets/background/bottom-1.png" alt="">
  </div>
</div>