<div class="main">
  <div class="top">
      <img src="../../assets/background/select-top.png" alt="">
  </div>
  <div class="middle">
    <div class="white" [style.background-image]="'url(' + '../../assets/background/bg'+ bgImgNumber + '.jpg'+ ')'">
      <!-- <input type="text"  #box (keyup)="onKey(box.value)"> -->
      <div *ngIf="!getPost">
          <input type="text"  #box (keyup)="onKey(box.value)">
      </div>
      <div *ngIf="getPost">
          <input type="text"  [value]="name" disabled>
      </div>
      <div class="erwei" *ngIf="getPost"></div>
      <div class="person">
        <app-person [bgData] = '_str'></app-person>
      </div>
    </div>
  </div>
  <div class="select-input">
    <div *ngIf="!getPost">
        <div class="left-btn" (click)="backClothes()">
            <img src="../../assets/btn/f-back.png" alt="">
          </div>
          <div class="bg-slide">
            <app-bg-select-input (eventbg)="getInfoFromBg($event)"></app-bg-select-input>
          </div>
          <div class="right-btn" (click)="bornPost()">
            <img src="../../assets/btn/f-born.png" alt="">
          </div>
    </div>
    <div *ngIf="getPost">
        <div class="back-btn">
          <img src="../../assets/btn/f-back.png" alt="">
        </div>
        <div class="born-btn">
            <img src="../../assets/btn/f-save.png" alt="">
        </div>
    </div>
  </div>
  <div class="bottom">
      <img src="../../assets/background/select-bottom.png" alt="">
  </div>
</div>
