<div class="main">
  <div class="top">
    <img src="../../assets/background/select-top.png" alt="">
  </div>
  <div class="middle">
    <div class="left">
        <div class="select">
            <app-select-input (eventChild1)="getInfoFromChild1($event)"></app-select-input>
          </div>
    </div>
    
    <div class="right">
        <div class="person">
          <app-person  [child2] = "faList"></app-person>
        </div>
        <div class="botton">
          <div class="left-btn" (click)="back()"><img src="../../assets/btn/f-back.png" alt=""></div>
          <div class="right-btn" (click)="toSelectBg()"><img src="../../assets/btn/f-select-bg.png" alt=""></div>
        </div>
    </div>
    
  </div>
  <div class="bottom" >
    <img src="../../assets/background/select-bottom.png" alt="">
  </div>
</div>





