.top {
  height: 1.4rem;
}
.middle {
  height: 9.5rem;
  .left {
    height: 9.5rem;
    float: left;
    width: 2.3rem;
    padding-left: 0.4rem;
  }
  .right {
    height: 9.5rem;
    float: right;
    width: 4.8rem;
    .person {
        float: right;
        width: 3.6rem;
        padding-right:0.69rem;
    }
    .botton {
      padding-right: 0.3rem;
    }
  }
}
