<div class="main">
  <div class="person">
    <div *ngIf="personObj.hair.has">
      <div *ngIf="personObj.hair.index !== 5">
          <div class="hair" [style.background-image]="'url(' + '../../assets/hair/fhair'+ personObj.hair.index + '.png'+ ')'"></div>
        </div>
      <div *ngIf="personObj.hair.index == 5">
          <div class="hair" [style.top] = "'-0.57rem'"  [style.background-image]="'url(' + '../../assets/hair/fhair'+ personObj.hair.index + '.png'+ ')'"></div>
      </div>
     </div>
    <div *ngIf="personObj.shoes.has">
        <div class="shoes"  [style.background-image]="'url(' + '../../assets/shoes/fshoes'+ personObj.shoes.index + '.png'+ ')'"></div>
    </div>
    <div *ngIf="personObj.suits.has">
      <div [ngSwitch]="personObj.suits.index">
      <div *ngSwitchCase="4">
          <div class="suits"
          [style.top] =" '-0.03rem' "
          [style.width] =" '102%' "
          [style.left] =" '-0.03rem' "
           [style.background-image]="'url(' + '../../assets/suits/fsuits'+ personObj.suits.index + '.png'+ ')'"></div> 
      </div>
      <div *ngSwitchCase="5">
          <div class="suits"
          [style.top] =" '-0.03rem' "
          [style.width] =" '102%' "
          [style.left] =" '-0.03rem' "
           [style.background-image]="'url(' + '../../assets/suits/fsuits'+ personObj.suits.index + '.png'+ ')'"></div> 
      </div>
      <div *ngSwitchCase="6">
          <div class="suits"
          [style.top] =" '-0.03rem' "
          [style.width] =" '102%' "
          [style.left] =" '-0.03rem' "
           [style.background-image]="'url(' + '../../assets/suits/fsuits'+ personObj.suits.index + '.png'+ ')'"></div> 
        </div>
      <div *ngSwitchDefault>
          <div class="suits" [style.background-image]="'url(' + '../../assets/suits/fsuits'+ personObj.suits.index + '.png'+ ')'"></div> 
      </div>
      </div>
     
    </div>

    <div *ngIf="personObj.coat.has">
    
        <div class="coats" [ngStyle]="{'background-image': 'url(' + '../../assets/coat/fcoats'+ personObj.coat.index + '.png'+ ')'}"></div>
     </div>
     <div *ngIf="personObj.pants.has">
       
        <div class="pants" [style.background-image]="'url(' + '../../assets/pants/fpants'+ personObj.pants.index + '.png'+ ')'"></div>
    </div>
    <div *ngIf="personObj.jew.has">
        <div class="jew" [style.background-image]="'url(' + '../../assets/jew/fjew'+ personObj.jew.index + '.png'+ ')'"></div>
    </div>
<!-- 
    <div *ngIf="personObj.click == 'coat'">
        <div class="jew" [style.background-image]="'url(' + '../../assets/suits/fsuits'+ personObj.suits.index + '.png'+ ')'"></div>
    </div>
    <div *ngIf="!personObj.suits.has">
        
        
    </div> -->


    
    <!-- <div [ngClass]="{'hair1': child2.index==1,'hair2': child2.index==2}" >
    </div> -->
    <!--
    <div class="coats"></div>
    <div class="jew"></div>
     -->
    <!-- <img class="hair" src="../../assets/person/woman-hair.png" alt="">
    <img class="pants" src="../../assets/pants/mpants (1).png" alt=""> -->
    <!-- <div class="pants">
      <img src="../../assets/pants/mpants (1).png" alt="">
    </div> -->
  </div>
  <!-- <div id="hair">
    <img src="../../assets/person/woman-hair.png" alt="">
  </div>
  <div id="coat">
    <img src="../../assets/person/woman-clothes.png" alt="">
  </div> -->
  <!-- <div id="pants">
    <img src="../../assets/person/woman-hair.png" alt="">
  </div>
  <div id="suits">
    <img src="../../assets/person/woman-hair.png" alt="">
  </div>
  <div id="Jewelry">
    <img src="../../assets/person/woman-hair.png" alt="">
  </div>
  <div id="shoes">
    <img src="../../assets/person/woman-hair.png" alt="">
  </div> -->
</div>