.main{
    width: 3.6rem;
    position: relative;
    .person{
        width: 3.6rem;
        img{
            padding-top: 0.05rem;
            width: 3.39rem;
        }
    }
    #hair{
        position: absolute;
        // width: 3.40rem;
        // top:1.45rem;
        img{
            position: absolute;
            top:-3.49rem;
            width: 3.46rem;
            right: -2.4rem;
        }
    }
    #coat{
         position: absolute;
        // width: 1rem;
        // top:5.5rem;
        img{
            position: absolute;
            top:-5.18rem;
            width: 2.748rem;
            right: -3.05rem;
        }
    }
    #hair{
        position: fixed;
        width: 1rem;
        top:5rem;
    }
    #pants{
        position: fixed;
        width: 1rem;
        top:5rem;
    }
    #suits{
        position: fixed;
        width: 1rem;
        top:5rem;
    }
    #Jewelry{
        position: fixed;
        width: 1rem;
        top:5rem;
    }
    #shoes{
        position: fixed;
        width: 1rem;
        top:5rem;
    }
}