<div class="main">
  <div class="person">
    <div class="hair" *ngIf="child2" >
      </div> 
    <!-- <div [ngClass]="{'hair1': child2.index==1,'hair2': child2.index==2}" >
    </div> -->
    <!-- <div class="pants"></div>
    <div class="coats"></div>
    <div class="jew"></div>
    <div class="shoes"></div> -->
    <!-- <img class="hair" src="../../assets/person/woman-hair.png" alt="">
    <img class="pants" src="../../assets/pants/mpants (1).png" alt=""> -->
    <!-- <div class="pants">
      <img src="../../assets/pants/mpants (1).png" alt="">
    </div> -->
  </div>
  <!-- <div id="hair">
    <img src="../../assets/person/woman-hair.png" alt="">
  </div>
  <div id="coat">
    <img src="../../assets/person/woman-clothes.png" alt="">
  </div> -->
  <!-- <div id="pants">
    <img src="../../assets/person/woman-hair.png" alt="">
  </div>
  <div id="suits">
    <img src="../../assets/person/woman-hair.png" alt="">
  </div>
  <div id="Jewelry">
    <img src="../../assets/person/woman-hair.png" alt="">
  </div>
  <div id="shoes">
    <img src="../../assets/person/woman-hair.png" alt="">
  </div> -->
</div>