<div class="main">
  <div class="left">
    <div>
      <span *ngFor="let item of bgArr"> 
        <img [src]="item.src" alt="" (click)="selectBg(item.id)">
      </span>
      <!-- <img src="../../assets/background/select-bg-btn (1).png" alt="">
      <img src="../../assets/background/select-bg-btn (2).png" alt="">
      <img src="../../assets/background/select-bg-btn (3).png" alt="">
      <img src="../../assets/background/select-bg-btn (4).png" alt="">
      <img src="../../assets/background/select-bg-btn (5).png" alt=""> -->
    </div>
    <!-- <div>
        <img src="../../assets/background/select-bg-btn (1).png" alt="">
      </div>
      <div>
          <img src="../../assets/background/select-bg-btn (1).png" alt="">
        </div> -->
  </div>
  <div class="right">	&gt;</div>
</div>